body{
	background-image: url("img/bacground_web.jpg");
	background-size: 100%;
	margin: 0px;
	padding: 0px;
}
header{
	margin: 0;
	padding: 0px;
	background-color: #000;
}
.logo{
	display: inline;
	width: 25%;
	color: #D6C904;
	font-family: Embassy BT, serif;
	font-size: 32px;
	margin: 10px;
}
.judul{
	color: aliceblue;
	background-color: rgb(110, 223, 35);
	text-align: center;
	font-family: serif;
	padding: 15px;
}
main{
	padding: 20px;
	color: rgb(255, 255, 255);
	width: 900px;
	background-color: #000;
	margin: auto;
	padding: 5px;
}
p, h1{
	margin: 10px;
	padding: 5px;
}
footer{
	color: aliceblue;
	width: 100%;
	text-align: center;
	font-size: 20px;
	background-color: #000;
	margin: 15px;
	padding: 20px;
}